@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;


@layer utilities {
  .items-normal {
    align-items: normal;
  }
}

.app {
  flex-grow: inherit;
  grid-template-rows: auto 1fr auto !important;
  @apply grid grid-rows-3 h-screen relative
}


.nuxt-link-exact-active {
  @apply text-gray-900
}
